.row {
    display: flex;
}
.letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height: 5rem;
    border: 3px solid #C5C6C7;
    text-align: center;
    color:#fff;
    background-color: #C5C6C7;
}